img {
  max-width: 100%;
}

body {
  font-family: "Abel", sans-serif;
}

header {
  padding-top: 20px;
}

.hero-image {
  margin-top: 20px;
}

.final-image {
  margin-bottom: 20px;
  cursor: pointer;
}

.project-1 {
  cursor: pointer;
}

.project-2 {
  cursor: pointer;
}

.project-3 {
  cursor: pointer;
}

.project-4 {
  cursor: pointer;
}

.project-5 {
  cursor: pointer;
}

/* Under 600px */
@media screen and (max-width: 600px) {
  img {
    max-width: 100%;
  }

  embed {
    max-width: 100%;
  }

  object {
    max-width: 100%;
  }

  video {
    max-width: 100%;
  }

  body {
    font-family: 'Abel', sans-serif;
    color: #f5f5f5;
    background-color: #333;
  }

  header {
    padding-top: 20px;
  }

  .hero-image {
    margin-top: 20px;
  }

  .final-image {
    margin-bottom: 20px;
  }

  .modal-content {
    background-color: #949494;
    color: black;
  }
}